 
langchain-mistralai

 
langchain
langchain-core
langchain-community

 
python-dotenv
pydantic

 
tavily-python
beautifulsoup4
lxml
requests
httpx
 
aiohttp

 
tiktoken
 
pandas
numpy
 
faiss-cpu
 
fastapi
uvicorn
 
loguru
 
tenacity
 
python-multipart
 
pytest
 
ipykernel

redis          
celery         

langchain-tavily